<div class="row">
	<div class="barra col s12">

		<a class="waves-effect waves-light btn-small back" href="#home">volver</a>

	</div>
</div>
<h2>Post Venta</h2>

      <div class="container">
        <div class="row">
          <form class="col s12" method="post" ng-submit="enviar()">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' name='equipo' id='equipo' ng-model="equipo" required/>
                <label for='equipo'>Equipo</label>
              </div>
            </div>      
			  
			<div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' name='modelo' id='modelo' ng-model="modelo" required/>
                <label for='modelo'>Modelo</label>
              </div>
            </div>    
			  
			<div class='row'>
              <div class='input-field col s12'>
                <input class='validate datepicker' type='date' name='fecha_desde' id='fecha_desde' ng-model="fecha_desde" ng-change="ocultar(1)" required/>
                <label ng-style="fecha_desde_label" for='fecha_desde'>Fecha Desde</label>
              </div>
            </div>    
			
			<div class='row'>
              <div class='input-field col s12'>
                <input class='validate datepicker' type='date' name='fecha_hasta' id='fecha_hasta' ng-model="fecha_hasta" ng-change="ocultar(2)" required/>
                <label ng-style="fecha_hasta_label" for='fecha_hasta'>Fecha Hasta</label>
              </div>
            </div>      
		
			<div class='row'>
              <div class='input-field col s12'>
                <textarea class='validate' name='comentarios' id='comentarios' ng-model="comentarios" required placeholder="Comentarios" rows="5"></textarea>
                
              </div>
            </div>  
            
            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_enviar' class='col s12 btn btn-large waves-effect' ng-disabled="loginform.$invalid">Enviar</button>
              </div>
            </center>
          </form>
        </div>
      </div>
     
<!--
<a href="#about" class="btn btn-success btn-lg">About</a>
<a href="#contact" class="btn btn-danger btn-lg">Contact</a>
-->
